
.boton {
    height: 80px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: antiquewhite;
    border-radius: 20px;
    border:2px solid white;
    margin: 5px;
    

}